@media only screen and (max-width: 585px){
  .yoga-body{

      .primer-menu-yoga{

      }
      .segundo-menu-yoga{

      }  
      .yoga-running-body {
        .yoga-running-body-titulo{
    
        }
        .lista-yoga{
          .lista-yoga-titulo{
    
          }
          .yoga-item {
              padding: 0rem;
            .yoga-video{
              width: 100%;
            }
            .texto-yoga{
              width: 100%;
            }
          }
        }
      }
    }  
  }

@media only screen and (max-width: 900px){
    .yoga-body{

        .primer-menu-yoga{

        }
        .segundo-menu-yoga{

        }  
        .yoga-running-body {
          .yoga-running-body-titulo{
      
          }
          .lista-yoga{
            .lista-yoga-titulo{
      
            }
            .yoga-item {
                padding: 0rem;
              .yoga-video{
                
              }
              .texto-yoga{
                width: 100%;
              }
            }
          }
        }
      }  
    }
    